{% extends 'index.html' %}

{% block content %}

      <hr class="featurette-divider">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/media/fotos/javier.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Javier Pérez</h2>
          <p>Ingeniería Mecatrónica mecatrónico. Programador en Django en Linux. Geolocalización, streaming de video, electrónica e instrumentación</p>
          <p><a class="btn btn-default" href="http://mx.linkedin.com/pub/javier-jorge-pérez-ontiveros/7a/97/ba9/" role="button">Más... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/media/fotos/enrique.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Enrique Ramírez</h2>
          <p>Ingeniería Mecatrónica. Programador, Instrumentación, sensado, actuadores, electrónica</p>
          <p><a class="btn btn-default" href="#" role="button">Más &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         <img class="img-circle" src="/media/fotos/paco.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Francisco Villavicencio</h2>
          <p>Ingeniería Mecatrónica. Programación, geolocalización, electrónica, análisis estadísticos</p>
          <p><a class="btn btn-default" href="#" role="button">Más... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  <!-- OTROS 3 -->

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/media/fotos/coco.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>José Fernández</h2>
          <p>Ingeniería Mecatrónica. Programador: Labview, Arduino. Instrumentación, etapa de potencia, diseño mecánico</p>
          <p><a class="btn btn-default" href="#" role="button">Más... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
         <img class="img-circle" src="/media/fotos/andy.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Andi Gosset</h2>
          <p>Diseño y estética de la página web, mercadotécnia, plan de negocios, etc  </p>
          <p><a class="btn btn-default" href="#" role="button">Más... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/media/fotos/fidel.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Fidel Moreno</h2>
          <p>Diseño y estética de la página web, Logo, Slogan.</p>
          <p><a class="btn btn-default" href="#" role="button">Más &raquo;</a></p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  

  <!-- OTROS 3 -->

      <div class="row">
        <div class="col-lg-4">
         <img class="img-circle" src="/media/fotos/juancarlos.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Juan Carlos Hinojo</h2>
          <p>ITIC. Dessarrollador Full Stack capaz de hacer aplicaciones web y de android consistentes. PHP, python, rails, javascript, etc.</p>
          <p><a class="btn btn-default" href="http://wundercar.proglabs.co/" role="button">Más... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/media/fotos/ulises.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Ulises </h2>
          <p>Programador de Javascript, java y C#. Desarrollador de la interfaz de geolocalización.  </p>
          <p><a class="btn btn-default" href="#" role="button">Más... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/media/fotos/mario.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Mario </h2>
          <p>Ingeniero en Tecnologías Computacionales de 4 Semestre. Asistente en el área de base de datos.</p>
          <p><a class="btn btn-default" href="#" role="button">Más &raquo;</a></p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  


{% endblock %}